@font-face {
    font-family: "OpenSans Regular";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

#bordado {
    border-color: #1d5377;
    border-style: solid;
    border-width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #C0C2CE;
    text-align: center;
}

body {
    background-color: #C0C2CE;
}

#Titulo {
    background-color: #1d5377;
    padding: 2%;
    margin-bottom: 5%;
}

p {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin-left: 20%;
    padding-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
}

#SubTitulo {
    font-family: 'Open Sans', sans-serif;
    margin-right: 15%;
    height: 70px;
    width: 370px;
    font-size: 35px;
    text-align: left;
    vertical-align: middle;
}

#imag {
    float: right;  
    padding-left: 2%;
    margin-right: 10%;  
}

#icone {
    vertical-align: middle;
    margin-left: 15%;
    margin-right: 0;
}
#idxTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #D4D6D7;
    
}
#idxText{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: justify;
    
}
.idxText{
    padding-top: 5%;
}
.container {
    position: relative;
    background-color:#1d5377;
    margin-bottom: 5%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.button {

    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff8c00;
    border: none;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 0;
  }
  
  .button:hover {background-color: #bf6900}
  
  .button:active {
    background-color: #bf6900;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }